<div>
  <form [formGroup]="formLogin" (submit)="send">
  <div>
    <label for="email" >Email</label>
    <input type="text" id="email" formControlName="email">
  </div>

  <div>
    <label for="password" >Contraseña</label>
    <input type="password" id="password" formControlName="password">
  </div>

  <div>
    <label for="terms" >Terms</label>
    <input type="checkbox" id="terms" formControlName="terms">
  </div>

  <div>
    <button [disabled]="formLogin.invalid" type="submit">Send</button>
  </div>
  </form>
</div>

<div>
  Valido: {{formLogin.valid|json}}
</div>